<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <base href="/">
<link  rel="stylesheet" href="/styles/style.css">    

</head>
<body>
    <header id="header" class="header">
     
        <nav>
          <ul class="test">
            <li><a href="#">Home</a></li>
            <li><a href="startups">Startups</a></li>
            <li><a href="showinvestors">Investors</a></li>
            <li><a href="inbox">Inbox</a></li>
          </ul>

        </nav>

    </header>

    <div class="container">
        <div class="text-content">
          <h1>Find Your next Unicorn</h1>
          <p>Join this platform and connect to the best business Startups
            and to get the funding from the one of the best investors
            </p>
          <button class="join-btn">Join Now</button>
        </div>
        <div class="container-img">
          <img src="main.jpg" alt="" srcset="">
        </div>
    </div>

    <!-- For chat section -->


      <div class="chat-icon">
          <div class="chat-box" id="chat-box">
           
             <div class="cancel-chat">
              <p class="cancel-btn" id="cancel-btn">X</p>
             </div>
          </div>
          <button class="chat-btn">Chat</button>
       
      </div>

    
  
    





    <script src="script.js"></script>
</body>
</html>