<form action="/sendmessage" method="post">
    <div class="container">
      <h1>Register</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>
  
      
      <label for="psw"><b>Password</b></label>
      <input type="text" placeholder="Enter msg" name="message" id="message" required>
      
      <button type="submit" class="registerbtn">Register</button>
    </div>
    
  </form>