<div class="highlight">
    <div class="heading">Upload Single Images Here</div>

    <form method="post" action="/editprofile" enctype="multipart/form-data">
    <div class="mb-3">
      <input type="file" name="single_input" class="form-control" >
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>